/* Normalization */
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  background-color: #13111a;
  font-family: "Cairo", sans-serif !important;
}
* *::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}
a {
  list-style: none;
  color: #fff !important;
}
a:hover {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
:root {
  --boxWidth: 370px;
  --boxHeight: calc(var(--boxWidth) * 9 / 16);
}
/* Fonts */
@font-face {
  font-family: "Rawy";
  src: url("./assets/fonts/ArbFONTS-VIP-Rawy-Bold1.ttf");
  font-style: bold;
}

/* Header styles */
header {
  position: relative;
  width: 100%;
  /* background-image: url(./assets/headerBK.png); */
  background: #0c74b7;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}
header .curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-image: url(./assets/curve.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -1px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 24px;
}
header nav .logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
header nav img {
  width: 100px;
  height: auto;
}
header nav ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 24px;
}
header nav ul li {
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  font-size: 18px;
}
header nav ul li:hover {
  border-bottom: 1px solid rgba(255, 254, 254, 0.315);
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .content .img {
  width: 99%;
  margin-left: -70px;
}
img {
  width: 100%;
  height: auto;
}
header .content .text {
  text-align: end;
  line-height: 20px;
}
header .content .text h2 {
  font-family: "Rawy";
}
header .content .text p {
  margin: 30px 0px;
}

/************** Slider ****************/
.testim {
  text-align: center;
  padding: 40px;
  width: 100%;
}

.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testim .arrow {
  display: block;
  position: absolute;
  color: #333;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.testim .arrow:before {
  cursor: pointer;
}

.testim .arrow:hover {
  color: #0c75b7;
}

.testim .arrow.left {
  left: 10%;
}

.testim .arrow.right {
  right: 10%;
}
.testim .external {
  width: 20px;
  height: 20px;
  margin: 0px 0px 3px 3px;
}
.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
  padding: 0;
}

.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #0c75b7;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: #0c75b7;
  border-color: #0c75b7;
}

.testim .dots .dot.active {
  -webkit-animation: testim-scale 0.5s ease-in-out forwards;
  -moz-animation: testim-scale 0.5s ease-in-out forwards;
  -ms-animation: testim-scale 0.5s ease-in-out forwards;
  -o-animation: testim-scale 0.5s ease-in-out forwards;
  animation: testim-scale 0.5s ease-in-out forwards;
}

.testim .cont {
  position: relative;
  overflow: hidden;
}

.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.testim .cont > div.inactive {
  opacity: 1;
}

.testim .cont > div.active {
  position: relative;
  opacity: 1;
  z-index: 99;
}

.testim .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.testim .cont div h2 a {
  color: #0c75b7 !important;
  font-size: 24px;
  margin: 15px 0;
  margin: 0px auto 12px auto;
  cursor: pointer;
}

.testim .cont div p {
  font-size: 1.15em;
  color: #333;
  width: 70%;
  margin: auto;
}

.testim .cont div.active .img img {
  -webkit-animation: testim-show 0.5s ease-in-out forwards;
  -moz-animation: testim-show 0.5s ease-in-out forwards;
  -ms-animation: testim-show 0.5s ease-in-out forwards;
  -o-animation: testim-show 0.5s ease-in-out forwards;
  animation: testim-show 0.5s ease-in-out forwards;
}

.testim .cont div.active h2 {
  -webkit-animation: testim-content-in 0.4s ease-in-out forwards;
  -moz-animation: testim-content-in 0.4s ease-in-out forwards;
  -ms-animation: testim-content-in 0.4s ease-in-out forwards;
  -o-animation: testim-content-in 0.4s ease-in-out forwards;
  animation: testim-content-in 0.4s ease-in-out forwards;
}

.testim .cont div.active p {
  -webkit-animation: testim-content-in 0.5s ease-in-out forwards;
  -moz-animation: testim-content-in 0.5s ease-in-out forwards;
  -ms-animation: testim-content-in 0.5s ease-in-out forwards;
  -o-animation: testim-content-in 0.5s ease-in-out forwards;
  animation: testim-content-in 0.5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
  -webkit-animation: testim-hide 0.5s ease-in-out forwards;
  -moz-animation: testim-hide 0.5s ease-in-out forwards;
  -ms-animation: testim-hide 0.5s ease-in-out forwards;
  -o-animation: testim-hide 0.5s ease-in-out forwards;
  animation: testim-hide 0.5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
  -webkit-animation: testim-content-out 0.4s ease-in-out forwards;
  -moz-animation: testim-content-out 0.4s ease-in-out forwards;
  -ms-animation: testim-content-out 0.4s ease-in-out forwards;
  -o-animation: testim-content-out 0.4s ease-in-out forwards;
  animation: testim-content-out 0.4s ease-in-out forwards;
}

.testim .cont div.inactive p {
  -webkit-animation: testim-content-out 0.5s ease-in-out forwards;
  -moz-animation: testim-content-out 0.5s ease-in-out forwards;
  -ms-animation: testim-content-out 0.5s ease-in-out forwards;
  -o-animation: testim-content-out 0.5s ease-in-out forwards;
  animation: testim-content-out 0.5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -webkit-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-moz-keyframes testim-scale {
  0% {
    -moz-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -moz-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -moz-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -moz-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-ms-keyframes testim-scale {
  0% {
    -ms-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -ms-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -ms-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -ms-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-o-keyframes testim-scale {
  0% {
    -o-box-shadow: 0px 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    -o-box-shadow: 0px 0px 10px 5px #eee;
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    -o-box-shadow: 0px 0px 10px 5px #ea830e;
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    -o-box-shadow: 0px 0px 0px 0px #ea830e;
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@keyframes testim-scale {
  0% {
    box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
    box-shadow: 0px 0px 10px 5px #eee;
  }

  70% {
    box-shadow: 0px 0px 10px 5px #ea830e;
  }

  100% {
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}

@-webkit-keyframes testim-content-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes testim-content-in {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes testim-content-in {
  from {
    opacity: 0;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes testim-content-in {
  from {
    opacity: 0;
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes testim-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes testim-content-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-moz-keyframes testim-content-out {
  from {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-ms-keyframes testim-content-out {
  from {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-o-keyframes testim-content-out {
  from {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes testim-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes testim-show {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes testim-show {
  from {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes testim-show {
  from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes testim-show {
  from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes testim-show {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes testim-hide {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-moz-keyframes testim-hide {
  from {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }
}

@-ms-keyframes testim-hide {
  from {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
  }
}

@-o-keyframes testim-hide {
  from {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

@media all and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .testim .arrow {
    font-size: 1.5em;
  }

  .testim .cont div p {
    line-height: 25px;
  }
}
/************** Video Library ****************/
#know-more {
  padding-top: 60px;
}
.division {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.division .playlist-arrow {
  position: absolute;
  top: 15%;
  left: -112px;
  width: 100px;
  height: 100px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.5s ease-in-out;
}
.division .playlist-arrow.active {
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}
.division__box {
  height: var(--boxHeight);
  border: 1px solid #0c75b7;
  border-radius: 27px;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.division__box .box-img {
  height: 100%;
  width: 100%;
}
.division__box .box-play {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: 15px;
  cursor: pointer;
  z-index: 999;
}
.division__box .box-playBK {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 5px;
  left: 9px;
  cursor: pointer;
  animation: glow 0.8s infinite alternate;
}

@keyframes glow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .division__box .box-play:hover {
  transform: translateY(-2px);
} */
.division__title {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.division__title span {
  color: rgba(10, 1, 1, 0.555);
}
.division__para {
  text-align: end;
  font-size: 16px;
}
.playlist {
  max-height: 800px;
  overflow: scroll;
  width: 90%;
  background-color: #f5f5f5;
  box-shadow: 0 0px 21px rgb(0 0 0 / 50%);
  position: sticky;
  top: -36px;
  border-radius: 20px;
  padding: 36px;
  padding-top: 60px;
  display: none;
}
.playlist.active {
  display: block;
}
.playlist .playlist-arrow {
  position: absolute;
  top: 50px;
  right: -90px;
  width: 100px;
  height: 100px;
}

.playlist-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.playlist-header .button {
  border-radius: 32px;
  padding: 17px 20px;
}
.search-bar {
  position: relative;
}
.search-bar img {
  width: 66px;
  height: 66px;
  position: absolute;
  right: 0;
  filter: saturate(0);
  transition: all 0.2s ease-in-out;
}
.search-bar input:focus + img {
  width: 66px;
  height: 66px;
  position: absolute;
  right: 0;
  filter: none;
}
.search-bar input {
  outline: none;
  border: 1px solid transparent;
  padding: 20px 95px 20px 46px;
  border-radius: 50px;
}
.search-bar input:focus,
.search-bar input:focus-visible {
  /* border: 1px solid rgba(26, 25, 25, 0.377); */
  border: 1px solid #0c75b7;
}
.playlist-items {
  padding: 0;
  margin-top: 40px;
}
.playlist-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.playlist-item div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.playlist-item .item-date {
  text-align: start;
  font-size: 12px;
}
.item-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.item-icon:hover {
  transform: translateY(-2px);
}
.item-title {
  font-size: 18px;
  text-align: end;
}
.item-date {
  font-size: 13px;
  color: #0983c4;
  vertical-align: bottom;
}

/************** Footer *****************/
footer {
  width: 100%;
  background: #212429;
  min-height: 300px;
  color: #fff;
  padding: 25px;
  /* padding-right: 75px; */
  text-align: end;
  margin-top: 200px;
}
.footer--title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Rawy", sans-serif;
}
.icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.social img {
  width: 40px;
  height: 40px;
  margin: 20px 0px 0px 5px;
  cursor: pointer;
}
.phone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.phone .number {
  letter-spacing: 0.6px;
}
.payment ul {
  padding: 0px;
}
.payment ul li {
  padding: 2px 0px;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}
.payment ul li.dot::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.payment ul li.dot.lg::after {
  width: 15px;
  height: 15px;
}
.payment ul li.green::after {
  background-color: #018100;
}
.payment ul li.blue::after {
  background-color: #0444fe;
}
.payment ul li.orange::after {
  background-color: #fc841c;
}
.payment ul li.red::after {
  background-color: #cb0400;
}
.payment-popup {
  background-color: #f5f5f5;
  border-radius: 40px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 5px 10px #0006;
  padding: 20px;
  width: 320px;
  color: #000;
  position: absolute;
  /* left: 800px; */
  bottom: 85%;
  left: 95%;
  z-index: 9999;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/******* Payment Postions ******************************************************************/
.payment-popup.pos-1 {
  opacity: 1;
  bottom: 76%;
  left: 95%;
}
.payment-popup.pos-2 {
  opacity: 1;
  bottom: 66%;
  left: 95%;
}
.payment-popup.pos-3 {
  opacity: 1;
  bottom: 55%;
  left: 95%;
}
.payment-popup.pos-4 {
  opacity: 1;
  bottom: 43%;
  left: 95%;
}
.payment-popup.pos-5 {
  opacity: 1;
  bottom: 32%;
  left: 95%;
}
.payment-popup.pos-6 {
  opacity: 1;
  bottom: 20%;
  left: 95%;
}
.payment-popup .popup-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 20px 0;
  text-align: end;
}
.payment-popup .popup-item:last-child {
  border: none;
}
.payment-popup .popup-item .key {
  font-weight: bold;
  text-align: end;
}

.to-customers p {
  display: flex;
  flex-direction: column;
}
/************** Buttons **********************/
.button:focus {
  outline: 0;
  box-shadow: none;
}
.button,
.button:visited,
.button:link {
  font-size: 18px;
  transition: all 0.1s ease-in-out;
  color: #fff;
  background-color: transparent;
  border: none;
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px #0006;
}
.button--primary {
  background-color: #f98619;
  border-radius: 8px;
  padding: 8px 20px;
}
.button--outline {
  border: 1px solid #0c75b7;
  border-radius: 8px;
  padding: 8px 20px;
  border: 1px solid rgb(212, 212, 212);
}
/*  The popup video */
#popup-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#popup-video.active {
  display: flex;
}
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  header {
    height: 96vh;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  header {
    height: 82vh;
  }
  .division .playlist-arrow {
    left: -102px;
  }
  :root {
    --boxWidth: 320px;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  :root {
    --boxWidth: 75vw;
  }
  /* Header and menu */
  header {
    height: 45vh;
  }
  header .curve {
    display: none;
  }
  header nav {
    display: block;
    position: relative;
    margin-bottom: 30px;
    height: 50px;
  }
  header nav ul {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 63px;
    left: 0;
    border-radius: 3px;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.3s ease-in;
    overflow: hidden;
    padding: 0px;
    row-gap: 13px;
  }
  header nav ul a {
    color: #0c74b7 !important;
  }
  header nav ul a:hover {
    color: #074c89 !important;
  }
  header nav ul.active {
    height: 225px;
    padding: 10px 0px;
  }
  .menu-bar {
    display: block;
    width: 32px;
    cursor: pointer;
  }
  .bar {
    width: 100%;
    height: 4px;
    display: block;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .menu-bar.active .bar:first-child {
    transform: rotate(135deg) translate(7px, 0px);
  }
  .menu-bar.active .bar:nth-child(2) {
    display: none;
  }
  .menu-bar.active .bar:last-child {
    transform: rotate(-135deg) translate(7px, 0px);
  }
  .content {
    margin-top: 20px;
  }
  .content .img {
    display: none;
  }

  /* Videos Accordion */
  #know-more {
    position: relative;
  }
  .divisions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .division {
    height: var(--boxHeight);
    width: auto;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  .division-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 27px;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
  }
  .division-overlay-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 27px;
    z-index: 9;
    background-color: rgb(0 0 0 / 22%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  /* .division-overlay:hover {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 27px;
  } */
  .division-overlay:hover + div + div + div,
  .division-overlay:hover + div + div + div + div,
  .division-overlay:hover + div + div + div + div + div {
    opacity: 1;
  }
  .division__box {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #0c75b7;
    border-radius: 27px;
    overflow: hidden;
  }
  .division.active-mob {
    margin-bottom: 870px;
  }
  .division .playlist-arrow {
    display: none;
  }
  .division__title {
    text-align: end;
    padding: 10px 10px;
    position: absolute;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  .division__title span {
    color: #fff;
  }
  .division__para {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 87%;
    color: #fff;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .playlist {
    z-index: 999;
    display: block;
    position: absolute;
    top: 200px;
    overflow: hidden;
    margin: 0 auto;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    width: 94%;
    transition: all 0.5s ease-in;
  }
  .playlist.active-mob {
    position: absolute;
    top: 224px;
    left: 19px;
    height: 800px;
    opacity: 1;
    padding: 36px;
    padding-top: 60px;
    max-height: 800px;
    overflow: scroll;
  }

  #popup-video iframe {
    width: 85%;
    height: 50%;
  }
  /* Playlists postions *******************************************************************/
  #playlist-1 {
    position: absolute;
    top: calc(var(--boxHeight) + 30px); /* Height of box 180px + 30px margin */
  }
  #playlist-2 {
    position: absolute;
    top: calc(
      calc(var(--boxHeight) + 30px) * 1 + calc(var(--boxHeight) + 30px)
    );
  }
  #playlist-3 {
    position: absolute;
    /* top: calc(210px * 2 + 220px); */
    top: calc(
      calc(var(--boxHeight) + 30px) * 2 + calc(var(--boxHeight) + 30px)
    );
  }
  #playlist-4 {
    position: absolute;
    /* top: calc(210px * 3 + 220px); */
    top: calc(
      calc(var(--boxHeight) + 30px) * 3 + calc(var(--boxHeight) + 30px)
    );
  }
  #playlist-5 {
    position: absolute;
    top: calc(
      calc(var(--boxHeight) + 30px) * 4 + calc(var(--boxHeight) + 30px)
    );
  }
  #playlist-6 {
    position: absolute;
    top: calc(
      calc(var(--boxHeight) + 30px) * 5 + calc(var(--boxHeight) + 30px)
    );
  }
  #playlist-7 {
    position: absolute;
    top: calc(
      calc(var(--boxHeight) + 30px) * 6 + calc(var(--boxHeight) + 30px)
    );
  }
  .payment-popup {
    border-radius: 40px;
    border-bottom-right-radius: 5px;
  }
  .payment-popup img {
    display: none;
  }

  footer {
    text-align: center;
  }
  footer .phone {
    justify-content: center;
  }
  /******* Payment Postions ******************************************************************/
  .payment-popup.pos-1 {
    bottom: 76%;
    left: 19%;
    left: 0;
  }
  .payment-popup.pos-2 {
    bottom: 63%;
    left: 25%;
    left: 0;
  }
  .payment-popup.pos-3 {
    bottom: 49%;
    left: 23%;
    left: 0;
  }
  .payment-popup.pos-4 {
    bottom: 37%;
    left: 24%;
    left: 0;
  }
  .payment-popup.pos-5 {
    bottom: 24%;
    left: 30%;
    left: 0;
  }
  .payment-popup.pos-6 {
    bottom: 10%;
    left: 36%;
    left: 0;
  }
  .payment-popup {
    left: 0;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    --boxWidth: 67vw;
  }
  header {
    height: 56vh;
  }
  /* .division__box .box-img {
    max-width: 100%;
    height: 180px;
  } */
  /* .division__title {
    text-align: end;
    width: 100%;
    padding: 0px 10px;
    left: 0;
  }
  .division__para {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 87%;
    color: #fff;
    z-index: 9;
  } */
  /* .division-overlay:hover {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 27px;
  } */
  /* .division-overlay:hover + div + div + div,
  .division-overlay:hover + div + div + div + div {
    display: flex;
  } */
  .playlist-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 13px;
  }
  .search-bar {
    width: 100%;
  }
  .search-bar input {
    width: 100%;
  }
  .playlist-item {
    flex-direction: column;
    align-items: flex-end;
    font-size: 8px !important;
  }
  .playlist-item .item-date {
    margin-right: auto;
  }
  .playlist-item .item-title {
    font-size: 16px;
  }
}

/* / X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  :root {
    --boxWidth: 95vw;
  }
  /* header {
    height: 100vh;
  } */
  header .content .text .button.button--outline {
    margin: 0px 0px 12px 0px !important;
  }
  .search-bar input {
    padding: 20px 71px 20px 18px;
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  header {
    height: 100vh;
  }
}
/* Vertical queries  */

/* Tablets */
@media (min-height: 768px) and (min-width: 992px) {
  header {
    height: 79vh;
  }
}
@media (min-height: 910px) and (max-width: 992px) {
  header {
    height: 33vh;
  }
}
/* Mobile phones different heights */
@media (min-height: 800px) and (max-width: 575.98px) {
  header {
    height: 44vh;
  }
}
@media (max-height: 660px) and (max-width: 991.98px) {
  header {
    height: 59vh;
  }
}
@media (max-height: 590px) and (max-width: 991.98px) {
  header {
    height: 85vh;
  }
}
@media (max-height: 540px) and (max-width: 991.98px) {
  header {
    height: 90vh;
  }
}
@media (max-height: 520px) and (max-width: 991.98px) {
  header {
    height: 100vh;
  }
}
@media (max-height: 445px) and (max-width: 991.98px) {
  header {
    height: 120vh;
  }
}
@media (max-height: 366px) and (max-width: 991.98px) {
  header {
    height: 150vh;
  }
}
@media (max-height: 300px) and (max-width: 991.98px) {
  header {
    height: 200vh;
  }
}
/* width */
.playlist::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.playlist::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.playlist::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.playlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}
